body{
    background-color:rgb(1, 39, 37);
}
.nav-list{
    display: flex;
    flex-direction: row;
    padding: 12px;
}
header{
    display: flex;
    height: fit-content;
}
.time{
    margin-top: 25px;
    text-align: start;
   margin-left: 16rem;
   background: #630000;
   height: 3.5rem;
   width: 15%;
   display: flex;
   flex-direction: column;
   border-radius: 15px;

   
}
.time > p{
    margin: 5px 0px 1px 10px;
  
   color: rgb(43, 245, 2);
   font-weight: bold;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
nav li{
    margin: 10px;
    list-style: none;
    font-size: 25px;
    color: crimson;
   
}
li{
    list-style: none;
}
.main-container {
    display: flex;
    flex-direction: row;        
    align-self: center;           
    border: 1px solid #ccc;      
    padding: 20px;               
    background-color: #fff;      
    width: 800px;                
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;  
    height: fit-content;              
}
.form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid saddlebrown;
    padding: 12px;
    text-align: start;
    height: 24rem;
}
.diaries {
    overflow-y: auto; 
   overflow-x: hidden;
    display: flex; 
    flex-direction: column;
    max-width: 100%;
    text-align: start; 
    height: 25.5rem;
    border: solid saddlebrown; 
    width: 100%;
}
.diaries li{
    font-size: 15px;
    margin-left: -15px;
   text-align: -10px left;
}
 input[type="text"]{
    width: 75%;
    padding: 6px;
    outline: none;
}
#uploadForm > input[type="text"]{
    background-color: blanchedalmond;
    width: 100%;
    padding: 6px;
    outline: none;
    height: 3em;
}
input[type="text"]:focus{
    width: 100%;
    outline: none;
}
#uploadForm >textarea{
    margin-top: 10px;
    width: 93%;
    height: 7em;
    padding: 12px;
    font-size: 15px;
    color: gray;
    background-color:blanchedalmond;
    outline: none;
}
textarea{
    margin-top: 10px;
    width: 90%;
    height: 7em;
    padding: 12px;
    font-size: 15px;
    color: gray;
    background-color:blanchedalmond;
    outline: none;

}
textarea:focus{
    outline: none;
}
input{
    margin-top: 12px;
}
input[type="date"]{
    height: 2em;
    width: 95%;
    background-color:blanchedalmond;
    padding: 5px;
    color: gray;
    outline: none;
}
.form-section button{
    background-color: chocolate;
    color:darkkhaki;
    padding: 6px;
    border: none;
    margin-top: 10px;
    width: 80%;
    margin-left: 20px;
    margin-right: -20px;
}
.sign-up {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: auto; 
    margin-top: 2em;
    text-align: left;
}
h2 {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 24px; 
    color: darkslategray;
}
label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    color: dimgray; 
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: chocolate;
    outline: none; 
}
button {
    background-color: chocolate;
    color: white;
    padding: 10px;
    border: none; 
    margin-top: 5px;
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%;
    font-size: 16px; 
}
#uploadForm > button{
    background-color: chocolate;
    color: white;
    padding: 10px;
    border: none; 
    margin: 10px 0px 0px 0px ;
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%;
    font-size: 16px;

}
a {
    color: chocolate; 
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;
}
.login {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: auto; 
    margin-top: 2rem;
    text-align: left; 
}
.diary {
    display: flex; 
    flex-direction: row;
    height: 10px;
    margin: 0;
    width: 100%;
}
.entryDetail {
    display: flex;
    flex-direction: column;
    width: 90%;
    height:fit-content;
    background-color: #ccc;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}
.description{
    width: 70%; 
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            color: green;
            text-align: start;
}
.diary > small,
.diary > p {
    margin-right: 1em;
    display:inline-block ;
}
.diary {
    align-items: center;
}
li a{
    font-size: 25px;
    color: honeydew;
}
.deletebtn{
    background-color: red;
    width: fit-content;
    height: 2em;
    font-size: 12px;
    margin-top: 12px;
    width: 25%;
    padding: 1px;
}
.hidden-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: fit-content;
    padding: 12px;
}
.hidden-container.display {
    display: flex; 
    background-color: rgb(153, 155, 153); 
    width: 20%; 
    text-align: start; 
    height: fit-content; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 15px;
}
.hidden-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 40px; 
    max-width: 80%;
    border: solid saddlebrown;
    background-color: greenyellow;
    height: fit-content;
}
#close-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -20px;
    
    top: 10px;
    right: 10px;
    width: 40px;
    height: fit-content;
    background-color: none;
}
#edit{
    margin-top: 12px;
    height: fit-content;
}
